/*Hero Sectie*/
/*Title Banner Skills&Vaardigheden*/
#vaardigheden-hero {
  height: 75vh;
  background: linear-gradient(rgba(27, 30, 43, 0.5), transparent),url("../images/skills.png");
  @include background;
}

.vaardigheden-hero-container {
  margin: auto;
  width: 90%;
}

.vaardigheden-hero-text {
  display: flex;
  flex-direction: column;
  padding: 10rem 0rem;
  p{
    color: white;
  }
  .special-link{
    color: $light-blue-color;
  }
}

#skills-card{
  margin: auto;
  width: 90%;
  .content-title{
    text-align: center;
    margin: 5rem;
  }
}


.skills-card {
  @include flex(center,center,row);
  height: 50vh;
}

.skill-card{
    background: $dark-blue-color;
    height: 300px;
}

.skills-card .skill-card {
  width: 800px;
  margin: 0 auto;
}
.skills-card .skill-card H4 {
  color: white;
  font-size: $header2;
  text-align: center;
  border-bottom: 10px solid $light-green-color;
}
.skills-card .skill-card ul {
  padding: 20px;
}
.skills-card .skill-card ul li {
  list-style-type: none;
  color: white;
}

.slider-arrow {
  padding: 10px;
  font-size: 64px;
  color: #E8F4F7;
  display: flex;
  align-items: center;
  transition: background 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slider-arrow:hover {
  cursor: pointer;
  color: $light-green-color;
}

@media screen and (max-width:960px){
  .skills-card .skill-card{
      width: 250px;
  }
}

