/*Hero Sectie*/
/*Title Banner Skills&Vaardigheden*/
#vaardigheden-hero {
  height: 75vh;
  background: linear-gradient(rgba(27, 30, 43, 0.5), transparent),url("../images/skills.png");
  @include background;
}

.vaardigheden-hero-container {
  margin: auto;
  width: 90%;
}

.vaardigheden-hero-text {
  display: flex;
  flex-direction: column;
  padding: 10rem 0rem;
  p{
    color: white;
  }
  .special-link{
    color: $light-blue-color;
  }
}

