/*Import Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kumbh+Sans:wght@400;700&display=swap");

/*Globals*/
$header1: 8rem;
$header2: 3.5rem;
$header3: 3rem;
$text: 2.5rem;
/*Nieuwe Kleuren*/
$dark-blue-color: #161823;
$light-green-color: #a5be83;
$light-blue-color: #80cbc4;
$text-color: #b3acc0;
$header-color: #ada6b9;
$background-color1: #1b1e2b;
$background-color2: #2a2d3e;
$special-font: "Bebas Neue", cursive;

/*Functies*/
@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*Linked de css bestanden*/
@import "globals";
@import "hero-nav";
@import "aboutme";
@import "skills";
@import "portfolio";
@import "contact";
@import "footer";

/*Mobile Responsive*/
@media screen and (max-width: 960px) {
  /*Algemene stijls*/
  html {
    font-size: 50%;
  }
  .background {
    display: none;
  }
  /*Special Titles*/
  .content-title {
    font-size: 3rem;
  }
  h1 {
    font-size: 6rem;
  }
  .code-title-information {
    width: 40rem;
  }
  /*Header Section*/

  #hero-section {
    background: url("../images/hero-mobile.png");
    background-repeat: no-repeat;
    h1 {
      font-size: 4.5rem;
    }
  }
  /*Over mij content*/
  #about-me-content {
    margin: 2rem;
  }
  .profile {
    padding: 10rem 0;
  }
  /*Skills*/
  .vaardigheden-cards {
    flex-wrap: wrap;
  }
  .vaardigheid-card {
    height: 250px;
    width: 300px;
    margin: 2.5rem;
  }
  .vaardigheid-icon {
    font-size: 1.5rem;
  }
  /*Portfolio*/
  .tabbed-component__button {
    font-size: 2rem;
  }
  #projects {
    height: 150vh;
  }
  .proces {
    display: none;
  }
  /*Contact*/
  .contact-background {
    width: 100%;
  }
  /*Footer*/
  footer {
    min-height: 25vh;
  }
}

/*Hamburger Menu*/
@media screen and (max-width: 960px) {
  /*Burger Menu*/
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }

  .burger span {
    padding: 0.2rem 2rem;
    background: #fff;
    margin: 0.5rem;
    display: block;
    transition: all 0.5s ease;
  }

  .nav-links a {
    color: #fff;
    text-decoration: underline;
    font-size: 1.5rem;
  }
  .nav-links {
    background: $dark-blue-color;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }
  .nav-open {
    transform: translate(-100%);
  }

  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background-color: white;
  }

  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background-color: white;
  }
  .toggle .line2 {
    opacity: 0;
  }
}
